# usa o mirror npmmirror (CDN da Alibaba) → sem tarballs corrompidos
registry=https://registry.npmmirror.com/

# agressividade de retry
fetch-retries=6
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=120000

# segurança extra
verify-cache=true
foreground-scripts=false
